<launch>

  <node pkg="gmr_intro" type="gmr_intro_node" name="gmr_pub_vel" output="screen">
  </node>
  
  <node pkg="sub_rpm" type="sub_rpm_node" name="sub_left" output="screen">
    <param name="nome_topico" value="/left_rpm"/>
  </node>

  <node pkg="sub_rpm" type="sub_rpm_node" name="sub_right" output="screen">
    <param name="nome_topico" value="/right_rpm"/>
  </node>

</launch>